@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
    
}
body{
    background-color: #3D3E42;
    font-family: 'Montserrat';
    font-weight: 500;
    @media (max-width: 768px) {
        width: 1650px;

    }
    @media (max-width: 340px) {
        width: 1300px;

    }
        color:#fff;
    overflow-x: hidden;
}
.center{
    max-width: 780px;
    margin: 0 auto;
    @media (max-width: 768px) {
    }
    
}
img{
    max-width:100%;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight:bold;
    margin-bottom: 20px;
}
$gold: #1fd2cc;
